<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>运维管理系统</title>
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-examplt-navbar-collapse-1">
              <span class="icon-bar">xxxx</span>
            </button>
        </div>
    </nav>
    </head>
<body>

{% block content %}{% endblock %}
</body>
</html>